.home-page .header a {
		background-image: url("./icons/add.svg");
}

.book-directory .header a {
		background-image: url("./icons/arrow-back.svg");
}

.header {
		background-color: #00656e;
		text-align: center;
		padding: 1rem 5vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
}

.header h1 {
		margin: 0;
		color: white;
		font-weight: 300;
}

.header h1 span {
		font-weight: 400;
}

.header a {
		display: inline-block;
		height: 4rem;
		width: 4rem;
		border-radius: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 2.5rem;
}
