html, body {
  font-family: 'Source Serif Pro', serif !important;
}

.home-page .header .icon {
  background-image: url("./icons/add.svg");
}

.book-directory .header .icon {
  background-image: url("./icons/arrow-back.svg");
}

.header {
  background-color: #23293B;
  padding: 1rem 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.header .logo {
  text-align: left;
  color: white;
  text-decoration: none;
}

.header .logo h1 {
  margin: 0;
  font-weight: 300;
}

.header .logo h1 span {
  font-weight: 400;
}

.header .logo h5 {
  margin: 0;
  font-size: 1rem;
}

.header .icon {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem;
}

.footer {
  background-color: #23293B;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 10vw;
}

.footer h6 {
  margin: 0;
}

.footer a {
  color: white;
}

html, body {
  font-family: 'Source Serif Pro', serif !important;
}

.all-books .search-query {
  width: 100%;
  background-color: #d5d5d5;
  position: relative;
}

.all-books .search-query:before {
  content: '';
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 2.5vw;
  top: 50%;
  transform: translateY(-50%);
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: url("./icons/search.svg");
}

.all-books .search-query input {
  background-color: transparent;
  border: none;
  color: #23293B;
  font-size: 1.25rem;
  padding: 1rem 5vw;
  width: 100%;
  border-bottom: 3px solid transparent;
  transition: 0.25s;
}

.all-books .search-query input::placeholder {
  color: #23293B;
  transition: 0.25s;
}

.all-books .search-query input:focus {
  outline: none;
  border-bottom: 3px solid #23293B;
}

.all-books .search-query input:focus::placeholder {
  opacity: 0;
}

.book-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2rem 5vw;
  list-style: none;
  margin-bottom: 2rem;
  margin-top: 0;
}

.book-list .book {
  width: 20%;
  text-align: center;
  padding: 0 2rem;
  margin: 0 0 2rem;
}

.book-list .book .book-container {
  position: relative;
  height: 12rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.book-list .book .book-container .shelf-selection {
  background-color: #23293B;
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%) translateY(50%);
  border: none;
  border-radius: 100%;
  background-image: url("./icons/arrow-drop-down.svg");
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
}

.book-list .book h1 {
  font-size: 1.35rem;
}

.book-list .book h6 {
  margin: 0;
  font-size: 0.85rem;
}

.book-list .book .book-subtitle {
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.book-shelf .shelf-title, .all-books .shelf-title {
  text-align: left;
  margin-bottom: 0;
  font-weight: 300;
  padding: 0 5vw;
}

.book-shelf .shelf-selection, .all-books .shelf-selection {
  color: transparent;
}

.book-shelf .shelf-selection option, .all-books .shelf-selection option {
  color: white;
}

.book-shelf .shelf-selection option:disabled, .all-books .shelf-selection option:disabled {
  color: grey;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 25rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 10vw;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 600;
}

html, body {
  font-family: 'Source Serif Pro', serif !important;
}
